@font-face {
  font-family: "iconfont"; /* Project id 4153217 */
  src: url('iconfont.woff2?t=1688547305170') format('woff2'),
       url('iconfont.woff?t=1688547305170') format('woff'),
       url('iconfont.ttf?t=1688547305170') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuangti-zhiding:before {
  content: "\e600";
}

.icon-chuangti-zuidahua:before {
  content: "\e601";
}

.icon-chuangti-zuixiaohua:before {
  content: "\e602";
}

.icon-chuangti-xiangxiahuanyuan:before {
  content: "\e603";
}

.icon-chuangti-guanbi:before {
  content: "\e604";
}

